<!doctype html>
<html ng-app="calculatorApp">
	<head>
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
        <div class="container">
			<div class="page-header">
				<h1>Angular Calculator</h1>
			</div>
        </div>
        <div ng-controller="CalculateController">
			<div id="input-container">
				<input type="number" placeholder="Operand1" ng-model="op1"> 
				<input type="number" placeholder="Operand2" ng-model="op2">
			</div>
			<div id="button-container">
				<button class="btn" ng-click="add()">+</button>
				<button class="btn" ng-click="subtract()">-</button>
				<button class="btn" ng-click="multiply()">*</button>
				<button class="btn" ng-click="divide()">/</button>
			</div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js"></script>
        <script src="app.js"></script>
	</body>
</html>